
body {
  font-family: Helvetica, Arial;
  font-size: small;
}
#progress, #queue-changing {
  position:fixed;
  top:0;
  right:0;
  background-color:red;
  color:white;
  padding: 5px;
}
.playlist-title {
  display:inline
}
#artist-list {
  margin-top: 1em;
  position: absolute;
  width: 15%;
}
#library-list {
  position: absolute;
  margin-left: 17%;
  width: 50%;

}
#nav {
  position:absolute;
  right: 10px;
}
#browser {
  width: 69%;
  padding: 1em;
  float:left;
}
#queue {
  width: 25%;
  float: left;
  padding: 1em;

}

.pagination {
  margin: 5px 0; 
}

table {
  table-layout: fixed;
  width: 100%;
}
table.queue tr.current  {
  background-color: #FFE5A8;
}
td {
  vertical-align: top;
}
col#c0 { width: 3em }
col#c1 { width: 25%}
col#c2 { width: 40% }
col#c3 { }
.odd {
  background-color: #EEE;
}

.even {
  background-color: white;  
}

#byline {
  border: 1px dotted #ccc;
  padding: 0 1.4em;
  margin-top: 40px;
}
